/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* DECLARAÇÃO DAS VARIÁVEIS */
:root {
    --clr-primary: #2E245E; 
    --clr-secondary: #6B54DE;
    --clr-grey-100: #333333;
    --clr-grey-50: #828282;
    --clr-grey-0: #F5F5F5;
    --clr-black: #000;
    --clr-white: #FFF;
    --ff-primary: 'Inter', sans-serif;
}

/* SELETORES GERAIS */
body, input, button {
    font-family: var(--ff-primary);
}
h1 {
    font-weight: bold;
    font-size: 26px;
}
h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
}
h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
p {
    font-size: 16px;
    line-height: 16px;
}
a {
    font-size: 14px;
    line-height: 16px;
}
span {
    display: block;
    font-size: 12px;
    line-height: 16px;
}
figcaption {
    display: none;
}
/* FIM DOS SELETORES GERAIS */

/* CABEÇALHO */
header {
    background-color: var(--clr-grey-0);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: max(300px, 100%);
    padding: 20px 6%;
}
#weartake-logo {
    font-size: 30px;
    line-height: 24px;
    color: var(--clr-black);
    padding-top: 12px;
}
#menu {
    position: relative;
}
    #menu:hover .menu-icon {
        background-color: var(--clr-secondary);
        border-bottom: 0;
    }
    #menu:hover .menu-list, .menu-list:hover{
        display: block;
    }

.menu-icon {
    border-radius: 0 5px 5px 0;
    width: 48px;
    box-sizing: border-box;
    height: 48px;
    padding: 6px;
}
.menu-list {
    display: none;
    position: absolute;
    overflow: hidden;
    top: 0px;
    right: 48px;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-secondary);
    border-bottom: 0;
    border-radius: 10px 0 10px 10px;
}
.menu-link {
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
    padding: 15px 10px 15px ;
    width: 200px;
    color: var(--clr-grey-100);
    text-decoration: none;
    border-right: 7px solid var(--clr-secondary);
    border-bottom: 1px solid var(--clr-secondary);
}
.menu-link:hover {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    transition: all 0.4s;
    padding-left: 15px;
}
.active-link {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
}

/* FIM CABEÇALHO */

/* MAIN */
main {
    box-sizing: border-box;
    width: max(300px, 100%);
    padding: 3vh 6% 8vh;
}
/* FIM MAIN */

/* COLUNA LATERAL */
#coluna-lateral {
    order: -1;
}

/* BARRA DE PESQUISA */
#search-bar {
    margin: 0 0 3vh;
}
#search-bar form {
    display: flex;
    justify-content: space-between;
}
.search-bar-input {
    background-color: var(--clr-grey-0);
    box-sizing: border-box;
    border: 2px solid transparent;
    width: 65%;
    height: 40px;
    padding: 7px;
}
    .search-bar-input:hover {
        border: 2px solid var(--clr-secondary);
        transition: 0.4s;
    }
    .search-bar-input:focus {
        outline: 0;
    }

.search-bar-button {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    border: 0;
    width: 34%;
    height: 40px;
}
    .search-bar-button:hover {
        cursor: pointer;
        background-color: var(--clr-primary);
        transition: background-color 0.4s;
    }
/* FIM BARRA DE PESQUISA */


/* CARRINHO DE COMPRAS */
#cart {
    margin: 3vh 0;
}
#cart-header {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    border: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
#cart-list {
    display: flex;
    overflow-y: scroll;
    padding: 21px 0 11px;
    background-color: var(--clr-grey-0);
}
.cart-empty-conteiner {
    margin: auto;
}
.cart-empty-conteiner h2 {
    color: var(--clr-grey-100);
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}
.cart-item {
    min-width: min(40%, 200px);
    margin: 0 1%;
    padding: 2% 0;
    flex: 0 0 0;
}
.cart-item figure {
    height: 90px;
    display: flex;
    justify-content: center;
}
.cart-item figure img {
    height: 90%;
    width: auto;
}

.cart-item-name {
    color: var(--clr-grey-100);
    text-align: center;
}
.cart-item-price {
    color: var(--clr-primary);
    font-weight: 600;
    margin: 5px 0;
    text-align: center;
}
.cart-item-remove, .cart-item-add {
    color: var(--clr-grey-50);
    width: 100%;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    display: block;
}
    .cart-item-remove:hover, .cart-item-add:hover {
        color: var(--clr-secondary);
        cursor: pointer;
    }
#cart-total {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    height: 100px;
    padding: 15px 6% 20px 5% ;
    margin-bottom: 25px;
    background-color: var(--clr-grey-100);
}
#cart-total p {
    width: 50%;
}
#cart-total p:nth-child(odd) {
    color: var(--clr-white);
}
#cart-total p:nth-child(even) {
    color: var(--clr-grey-50);
    text-align: right;
}
/* FIM CARRINHO DE COMPRAS */


/* VITRINE */
#showcase {
    display: flex;
    flex-wrap: wrap;
}
.showcase-item {
    box-sizing: border-box;
    width: 45%;
    border: 2px solid var(--clr-grey-0)
}
    .showcase-item:hover {
        border: 2px solid var(--clr-primary);
        transition: border-color 0.4s;
    }

.showcase-item:nth-child(odd) {
    margin-right: 10%;
}
.showcase-item-info-conteiner {
    padding: 11px 1% 11px 5%;
}
.showcase-item-figure {
    background-color: var(--clr-grey-0);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.showcase-item-figure img{
    height: 90%;
}
.showcase-item-tag {
    color: var(--clr-white);
    background-color: var(--clr-primary);
    display: inline-block;
    padding: 3px 5px;
}
.showcase-item-name {
    color: var(--clr-grey-100);
    margin: 8px 0;
}
.showcase-item-detail {
    color: var(--clr-grey-50);
    margin: 8px 0;
}
.showcase-item-price {
    color: var(--clr-primary);
    font-weight: 600;
    margin: 8px 0;
}
.showcase-item-add {
    color: var(--clr-grey-50);
} 
    .showcase-item-add:hover {
        color: var(--clr-secondary);
        transition: 0.4s;
        cursor: pointer;
    }
/* FIM VITRINE */

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
    .showcase-item {
        width: 30%;
        margin: 0;
    }
    .showcase-item:nth-child(odd) {
        margin: 0;
    }
    .showcase-item:nth-child(3n+2) {
        margin: 0 5%;
    }
    .menu-icon {
        display: none;
    }
    #menu:hover, #menu:hover .menu-list, .menu-list {
        display: flex;
        position: static;
        background-color: transparent;
        border: 0;
    }
    .menu-link {
        border: 0;
        padding: 10px;
        margin: 0 5px;
        width: auto;
        border-radius: 4px;
    }
    .menu-link:hover {
        padding: 10px;
    }
}
@media only screen and (min-width: 1024px) {
    main {
        display: flex;
        justify-content: space-between;
    }
    #side-column {
        width: 30%;
        order: 1;
    }
    #cart-list {
        height: 400px;
        flex-flow: column nowrap;
    }
    .cart-item {
        display: flex;
        min-height: 31%;
        margin: 0 2%;
    }
    .cart-item-info-conteiner {
        padding-left: 5%;
    }
    .cart-item-name, .cart-item-price, .cart-item-remove {
        text-align: left;
    }
    #showcase {
        width: 65%;
    }
    .showcase-item:nth-child(n+4) {
        margin-top: 50px;
    }
}
